{% for share in shares %}
{% include 'shares/includes/share_card.html' with share=share card_variant='browse' viewer=user login_return_url=share_cards_return_url only %}
{% empty %}
<div class="col-12">
    {% if user.is_authenticated %}
        {% url 'create_share' as empty_action_url %}
        {% include 'shares/includes/empty_state.html' with icon='bi-inbox' title='暂无分享' message='快来创建第一个战术板分享吧！' action_url=empty_action_url action_label='创建分享' action_icon='bi-plus-circle' only %}
    {% else %}
        {% url 'register' as empty_action_url %}
        {% include 'shares/includes/empty_state.html' with icon='bi-inbox' title='暂无分享' message='快来创建第一个战术板分享吧！' action_url=empty_action_url action_label='注册账户' action_icon='bi-person-plus' only %}
    {% endif %}
</div>
{% endfor %}
